
.projectsDescription {
    padding-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vh;
  
    @media (max-width: 600px) {
      // flex-direction: column;
      // padding-inline: 5vw;
      display: block;
    }
}