.sectionsNav {
  // background-color: blue;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 50%;
  height: 7vh;
  width: 50vw;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;

  nav {
    // background-color: lightblue;
    width: 50%;
    ul {
      display: flex;
      justify-content: space-around;
    }
  }

  @media (max-width: 1000px) {
    background-color: var(--clr-main-1);
    width: 100%;
    top: auto;
    min-height: 50px;
    height: 3.5vh;
    bottom: 0;
    // background-color: red;
    nav {
      // min-width: 300px;
      width: 80%;
    }
  }
}

.section {
  // background-color: red;
}
