// molecule button

.moleculeBtnContainer {
  --size: .75rem;
  --height: 3rem;
  position: relative;
//   background-color: yellow;
  height: 100%;
  width: calc(100% / 8);
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    left: 50%;
    transform: translateX(-50%);
    // top: 0;
    width: calc(var(--size) * 1.25);
    // height: var(--height);
 background-color: rgba(var(--clr-main-2), .8);
    // border-radius: 99999vw;
  }

  @media (max-width: 800px) {
    --size: 0.75rem;
  }
}

.moleculeBtn {
  height: 2rem;
  // position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: blue;
  border-radius: 99999vw;


}

// molecule description

.moleculeDescription {
  padding-block: 2rem;
  padding-top: 1rem;

  min-height: 25vh;

  @media (max-width: 800px) {
    min-height: auto;
    // padding-block: 1rem;
    padding-top: .5rem;
    // min-height: 20vh;
  }
}

.moleculeDescriptionContainer {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}