.wrapper {
  width: 100%;
  max-width: 1400px;
  padding-inline: min(10vh, 10vw);
  margin-block: 5rem;

  @media (max-width: 1000px) {
    // width: 90%;

    padding-inline: 2.5rem;
  }

  @media (max-width: 800px) {
    // width: 90%;
    margin-block: 1rem;
    padding-inline: 1.5rem;
  }
}

.wrapper:first-child {
  margin-top: 0rem;
  padding-top: 10vh;
}

.wrapper:last-child {
  margin-bottom: 0rem;
  padding-bottom: 10vh;
}

