.wrapper {
  width: 100%;
  max-width: 1400px;
  padding-inline: min(10vh, 10vw);
  margin-block: 5rem;
  // background-color: blue;

  @media (max-width: 1000px) {
    // width: 90%;

    // padding-inline: 2.5rem;
    padding-inline: min(5vh, 5vw);
  }
  
  @media (max-width: 800px) {
    // width: 90%;
    margin-block: 1rem;
    // padding-inline: 1.5rem;
  }
}



.wider {
  width: 100%;
  max-width: 1800px;
  // padding-inline: min(10vh, 10vw);
  
  // background-color: red;
  padding-inline: min(5vh, 5vw);
  
  
  @media (max-width: 1000px) {
    // padding-inline: min(2.5vh, 2.5vw);
    // width: 90%;

    // padding-inline: 2.5rem;
  }
  
  @media (max-width: 800px) {
    // padding-inline: 5vw;
    // width: 90%;
    
    padding-block: 1rem;
    // padding-inline: 0rem;
  }
}

.inner {
  width: 100%;
  padding-inline: 0;
  
  // background-color: red;
}

.wrapper:first-child {
  margin-top: 0rem;
  padding-top: 10vh;
}

.wrapper:last-child {
  margin-bottom: 0rem;
  padding-bottom: 10vh;
}

.mobileLessPadding {
  
  @media (max-width: 800px) {
    padding-inline: min(2.5vh, 2.5vw);
  }
}

.capped {
  width: 100%;
  max-width: 1000px;
  padding-inline: min(10vh, 10vw);
  margin-block: 5rem;
  // background-color: blue;

  @media (max-width: 1000px) {
    // width: 90%;

    // padding-inline: 2.5rem;
    padding-inline: min(5vh, 5vw);
  }
  
  @media (max-width: 800px) {
    // width: 90%;
    margin-block: 1rem;
    // padding-inline: 1.5rem;
  }
}

.noBtmMargin {
  margin-bottom: 0;
}