// aboutCarousel

.aboutCarousel {
  margin-block: 5rem;
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  width: 100%;

  background-color: aquamarine;
  border: 5px solid green;
  padding: 2vw;

  margin-bottom: 2vh;

  @media (max-width: 800px) {
    // display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 90vh;
    gap: 2vh;
    padding: 0;
  }
}

.cardColumn {
}

.cardImageContainer {
  border: 10px solid red;
  // width: 15vw;
  // height: 30vh;
  width: 100%;
  height: 100%;
  position: relative;

  img {
    object-fit: cover;
  }
}
