// aboutCarousel

.aboutCarousel {
  margin-block: 5rem;
  width: 100%;
}

// card selector

.cardSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2vw;

  margin-block: 2vh;
}

.cardSelectorOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  aspect-ratio: 1 / 1;
  border: 5px solid pink;

}

// card

.card {
  background-color: aquamarine;
  border: 5px solid green;
  padding: 2vw;
}

.cardInner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  width: 100%;



  margin-bottom: 2vh;

  @media (max-width: 800px) {
    display: block;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr 1fr;
    max-height: 90vh;
    gap: 2vh;
    padding: 0;
  }
}

.cardTitles {
  display: flex;
  flex-direction: column;
  gap: 1vh;

}

.cardColumn {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    @media (max-width: 800px) {
        gap: 0;
        display: block;
    }
}

.cardSubtitle {
  font-weight: 700;
}

.cardTextContainer{
  // font-size: ;
  margin-block: 2vh;
}

.cardTextAndSecondImage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
    align-items: center;
}

.imageColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(1vh, 1vw);
}

.cardImageContainer {
  position: relative;
  border: 10px solid red;
  cursor: pointer;

  // width: 15vw;
  // height: 30vh;
  width: 100%;
  // height: 100%;
  aspect-ratio: 6/4;

  img {
    // object-fit: cover;
    object-fit: contain;
  }
}

.cardImageContainerSecondary {
    position: relative;
    border: 4px solid yellow;
    cursor: pointer;
  
    // width: 15vw;
    // height: 30vh;
    // width: 50%;
    width: 60%;
    // height: 100%;
    aspect-ratio: 6/4;
  
    img {
    //   object-fit: cover;
      object-fit: contain;
    }

    @media (max-width: 800px) {
        // to hide second picture on mobile
        // display: none;
    }
  }

.arrowLeftContainer {
  position: absolute;
  z-index: 10;
  width: 50%;
  height: 100%;
  // background-color: red;
}

.arrowRightContainer {
  position: absolute;
  z-index: 10;
  left: 50%;
  width: 50%;
  height: 100%;
  // background-color: yellow;
}

.arrowWrapper {
  position: absolute;
  //   width: 10vw;
  //   z-index: 10;
  top: 50%;
  // transform: translateY(-50%);
  cursor: pointer;

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }
}

.imageArrows {
}

.imageDots {
  cursor: pointer;
  display: flex;
}
