.introContainer {
  height: 100vh;
  width: 100%;
  // background-color: red;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('/images/intro/lightDesignBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.backgroundImgContainer {
  position: relative;
  
  width: 15%;
//   height: 40%;
aspect-ratio: 1/1.3;
  align-self: center;
  overflow: hidden;
//   border-radius: 99999vw;
background-color: red;
}



.headshotImg {
  // width: 30vw;
  // height: 30vw;

  aspect-ratio: initial;
  border-radius: 50%;
  border: 1vw solid white;
}
