.skills {
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
//   background-color: red;
width: 100%;
  // width: max(1400px, 100%);
  // padding-inline: 15%;
//   margin-bottom: 10vh;


  // li {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     // align-items: ;

  @media (max-width: 800px) {
    font-size: 0.7rem;
  }
  // }
}

.areas {
  display: flex;
  justify-content: center;
  // align-items: center;

  
//   gap: 10vw;
width: 100%;
  text-align: center;
  // justify-content: space-between;
  // justify-content: flex-start;
  align-items: flex-start;
  

  @media (max-width: 800px) {
    // width: 100%;
  }
}

.area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  // gap: 5rem;
  // min-width: 20vw;
  // max-width: 100px; 

  @media (max-width: 800px) {
    grid-template-columns: repeat(auto-fill, minmax(24vw, 1fr));
  }
}

.title {
  padding-bottom: .5rem;
  @media (max-width: 800px) {
    font-size: .9rem;
  }
}

// .textAndIcon {
//   position: relative;
//   background-color: pink;
// }

// .revealedIconsUl {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);

// }

// .iconsLi {
//   // text-align: center;
//   background-color: red;
// }



.textAndIcon {
  // background-color: red;
  // position: relative;
  // overflow: hidden;

}

.text {

}

.skillsUl {
//   display: flex;
// flex-direction: column;


//   background-color: pink;
}

.skillWrapper {

  // padding: 1rem;
  padding: .1rem;
  position: relative;
  overflow: hidden;
}

.singleSkill {
  // padding: .5rem;
  // position: relative;
  // overflow: hidden;
}

.icon {
  // padding: 1rem;
  position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  inset: 0;
}