.skills {
  display: flex;
  justify-content: center;
//   background-color: red;
  width: 100%;
//   margin-block: 2rem;
//   margin-bottom: 10vh;


  // li {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     // align-items: ;

  @media (max-width: 800px) {
    font-size: 0.7rem;
  }
  // }
}

.areas {
  display: flex;
//   gap: 10vw;
width: 100%;
  text-align: center;
  justify-content: space-between;

  @media (max-width: 800px) {
    // width: 100%;
  }
}

.area {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // min-width: 20vw;
  // max-width: 100px;
}

.title {
  @media (max-width: 800px) {
    font-size: .9rem;
  }
}
